server/vblog
server/tmp/
server/static/
web/node_modules/
web/dist/
hdx/
*.exe
.env

# vblog-d1
vblog-d1/pict/
vblog-d1/web/node_modules/
vblog-d1/web/dist/
vblog-d1/worker/node_modules/

# cache / local config
.gocache/
.gopath/
.npm-cache/
server/config/config.toml

# wrangler
.wrangler/